# Copyright 2014-present Facebook. All Rights Reserved.
[Unit]
Description=Start rackmond
After=setup_i2c.service openbmc_gpio_setup.service
Wants=openbmc_gpio_setup.service setup_board.service

[Service]
ExecStart=/usr/local/bin/rackmond /usr/share/rackmon/interface/aspeed_uart.conf

[Install]
WantedBy=multi-user.target
