[Unit]
Description=Check and cache sensors
ConditionPathExists=/run/openbmc/sensors/requested_cached

[Service]
Type=oneshot
ExecStart=/usr/libexec/sensor-cache 120 -q 2>/dev/null

[Install]
WantedBy=multi-user.target

