[Unit]
Description=Start satellite management controller (SMC) event relay
After=network-online.target xyz.openbmc_project.EntityManager.service xyz.openbmc_project.Logging.service
Wants=network-online.target xyz.openbmc_project.EntityManager.service xyz.openbmc_project.Logging.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/satellite-relay --from=http://172.31.13.251 --bind=http://172.31.13.241:8888

[Install]
WantedBy=multi-user.target
