SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS0", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS1", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS2", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS3", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS4", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS5", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS6", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS7", TAG+="systemd"
SUBSYSTEM=="tty", ENV{SYSTEMD_WANTS}+="obmc-console@ttyS8", TAG+="systemd"
